<div class="clickable-mainmenu">
  <div class="clickable-mainmenu-icon">
    <button class="clickable-mainmenu-close">
      <span class="pe-7s-close"></span>
    </button>
  </div>
  <div class="side-logo">
    {%- include 'header-logo-2' -%}
  </div>
  <div id="menu" class="text-left clickable-menu-style">
    {% include 'main-menu-3' %}
  </div>
  {%- if section.settings.social_icon_enable -%}
    <div class="side-social">
      <ul>
        {% include 'header-social-area' %}
      </ul>
    </div>
  {%- endif -%}
</div>
