<div class="footer-top text-{% if section.settings.footer_top_text_style == 'top_style_left' %}left{% elsif section.settings.footer_top_text_style == 'top_style_center' %}center{% elsif section.settings.footer_top_text_style == 'top_style_right' %}right{% endif %}">
  <div class="container">
    <div class="footer-logo">
      {%- if section.settings.footer_logo -%}
        <a href="/">
          <img
            src="{{ section.settings.footer_logo | img_url: '300x300' }}"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
          >
        </a>
      {%- else -%}
        <a href="/">
          {{ shop.name }}
        </a>
      {%- endif -%}
    </div>
    {%- if section.settings.logo_descrption -%}
      <p>{{ section.settings.logo_descrption }}</p>
    {%- endif -%}

    <div class="footer-social">
      {% include 'footer-social-area' %}
    </div>
  </div>
</div>
