<div class="subscribe-form">
  <form
    action="{{ settings.newsletter_action }}"
    class="popup-subscribe-form validate newsletter-form"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    target="_blank"
    novalidate
  >
    <div id="mc_embed_signup_scroll" class="mc-form">
      <div id="mc-form" class="mc-form subscribe-form">
        <input
          class="input_text"
          type="email"
          value=""
          name="EMAIL"
          class="email"
          id="mce-EMAIL"
          placeholder="Enter your email address"
          required
        >
        <div class="clear">
          <input
            id="mc-submit"
            class="button"
            type="submit"
            name=""
            value="{{ block.settings.newslatter_button_title }}"
          >
        </div>
      </div>
    </div>
  </form>
</div>
