<div class="header-top-area">
  <div class="container-fluid">
    <div class="header-top-wap">
      <div class="language-currency-wrap">
        {%- include 'currency-picker' -%}
        {% if section.settings.custom_number != '' %}
          <div class="same-language-currency">
            <p>{{ section.settings.custom_number }}</p>
          </div>
        {% endif %}
      </div>
      {% if section.settings.custom_text != '' %}
        <div class="header-offer">
          <p>{{ section.settings.custom_text }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
