{% if customer %}
  <a
    title="Wishlist"
    class="action-wishlist tile-actions--btn flex wishlist-btn wishlist"
    href="#"
    data-product-handle="{{ product.handle }}"
  >
    <span class="add-wishlist"><i class="pe-7s-like"></i></span>
    <span class="loading-wishlist"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    <span class="remove-wishlist"><i class="fa fa-heart"></i></span>
  </a>
{% else %}
  <a title="Add Wishlist" class="wishlist" href="/account/login" title="Wishlist">
    <i class="pe-7s-like"></i>
  </a>
{% endif %}
