<section class="anti-aging7">
  <a href="#;" class="bannerLink"
    ><img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/anti_banner2.jpg?v=1670456983"
  ></a>
</section>

{% schema %}
{
  "name": "anti-aging7",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
