<section class="anti-aging2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>
          The Yessé Four Step Daily Ritual combined with our Anti-Aging Collection will deeply cleanse your skin whilst
          keeping the moisture and smoothness that you love.
        </h3>
        <p>That’s because our exclusive formulation is targeted to give you exactly what your skin type needs.</p>
      </div>
      <div class="col-lg-6">
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/anti-aging_pic1.png?v=1670371317">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "anti-aging2",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
