<section class="anti-aging4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>If you want to see the best effects,</h2>
        <h3>pick a frequency, and stick to it every day.</h3>
        <p>We recommend twice a day – once in the morning, and then again before you go to bed at night.</p>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "anti-aging4",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
