<section class="anti-aging6">
  <div class="container">
    <div class="row step1 step">
      <div class="col-lg-8">
        <h4>Step 1</h4>
        <h2>Double Cleanse</h2>
        <p>
          At night, many people prefer to double cleanse their skin. But our years of research have led us to also
          recommend the double cleansing method in the mornings, to rid the bacteria that is accumulated during sleep.
        </p>
        <p>
          Ingredients like jojoba oil can help hydrate the skin, as well as keeping your skin’s pH level normal. The
          addition of avocado oil which contains vitamins A, C, D, and E, which are natural antioxidants that will
          replenish, smooth, and soften your skin.
        </p>
      </div>
      <div class="col-lg-4">
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/step1.jpg?v=1670454545">
      </div>
    </div>
    <div class="row step2 step">
      <div class="col-lg-4">
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/step2.jpg?v=1670454545">
      </div>
      <div class="col-lg-8">
        <h4>Step 2</h4>
        <h2>Prime</h2>
        <p>
          One thing is clear: our face mist is the fastest skin reviver ever! For those sweltering days, after the
          Bikram yoga class, or whenever you get that midday slump at work, spritzing your face with a cool mist which
          rejuvenates, hydrates and is absolutely invigorating. Our Anti-aging dual mist is infused with grapefruit peel
          oil, which penetrates deeply into the pores and aids in the skin's sebum equilibrium, allowing the pores to
          remain clean and free of impurities.
        </p>
        <p>
          When you think of your skin, think of it as a sponge. It is necessary for a sponge to be wet to absorb water.
          In a way, your skin is similar. Face mists that are enriched with moisturising natural extracts that work to
          keep your skin supple throughout the day. Even better, a mist won't ruin your makeup like reapplications of
          moisturiser.
        </p>
      </div>
    </div>
    <div class="row step3 step">
      <div class="col-lg-8">
        <h4>Step 3</h4>
        <h2>Treat</h2>
        <p>
          To achieve maximum benefits, serums are designed to allow more active molecules to permeate the skin's
          surface. Our Anti-Aging Dual Serum is light and delivers active ingredients to the skin more quickly than
          heavier lotions and creams. You can always apply our Anti-Aging Dual Serum on clean skin, but for best
          results, apply it as a third step after our Anti-Aging Dual Mist.
        </p>
        <p>
          In our Anti-Aging Dual Serum formula, glycerine helps boost collagen formation and supports healthy cell
          functioning. Glycerine is a moisturising substance known as a humectant because it draws water from the skin's
          deeper layers and from the atmosphere.
        </p>
      </div>
      <div class="col-lg-4">
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/anti-aging_pic1.png?v=1670371317">
      </div>
    </div>
    <div class="row step4 step">
      <div class="col-lg-4">
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/step4.png?v=1670454545">
      </div>
      <div class="col-lg-8">
        <h4>Step 4</h4>
        <h2>Moisturise</h2>
        <p>
          To get the most out of the serum, you'll need to follow it up with a moisturiser or face cream. Skin concerns
          including discolouration, dullness, fine wrinkles, or acne can be treated with a serum while moisturisers are
          essential for keeping your skin healthy. You can apply our 24K Gold Anti-Ageing Moisturiser as required,
          however, for the very best results you can layer it up after applying our Anti-Aging Dual Mist and Serum. As a
          rule of thumb, twice a day—morning and night—should provide long-lasting hydration.
        </p>
        <p>
          Our 24K Anti-aging Cream formulation combines the countless properties of prime 24 K Gold with the 4 primary
          anti-aging active ingredients - Kangaroo Paw Flower Extract; for skin renewal process, Coenzyme Q10; for
          collagen production, Tripepide-5; for healthy tissue growth, Hyaluronic Acid; for improving firmness and
          elasticity
        </p>
        <p>
          24K Gold reduces inflammation and puffiness and activates skin cells, increasing the turnover of cells that
          results the reduction of age spots, evens out fine lines and wrinkles. No doubt that 24K Gold is almost a
          total skin care treatment on its own.
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "anti-aging6",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
