<!-- Include jQuery first -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<!-- Slick Slider Theme CSS (optional) -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
<!-- Slick Slider JS, make sure jQuery is loaded first -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<style>
  

  .banner-main {
    padding-top: 40px;
    padding-bottom: 40px;
   background: url("https://cdn.shopify.com/s/files/1/0658/4057/8750/files/hero-background_d837cf10-89e9-4547-84f6-2f2e42e1bd99.webp?v=1715375502");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .slider {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
  }

  .slider-item {
    flex: 0 0 auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .banner-slider-arrow--left {
      left: 10px;
  }

  .banner-slider-arrow--right {
      right: 10px;
  }

  .slider-dots {
    text-align: center;
    padding-top: 10px;
  }

  .slider-dot {
    background: none;
    border: none;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }

  .slider-dot.active {
    color: red;
  }
  .banner-slider-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 25;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
  }



  /* Style for the SVG icon */
  .flickity-button-icon {
    fill: currentColor; /* Change to the color you want for your arrow */
  }

   button.banner-slider-arrow.banner-slider-arrow--left.slick-arrow {
      z-index: 99;
      width: 20px;
      height: 20px;
  }
  button.banner-slider-arrow.banner-slider-arrow--right.slick-arrow {
      width: 20px;
      height: 20px;
      z-index: 99;
  }
    img.card-featured-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
.slick-list.draggable{
  width: 98%;
}
    .card-featured-image-wrapper {
      background: #f4eee0;
  }

  .banner-section {
      position: relative;
  }

    .card-featured-image-wrapper {
    display: block;
    overflow: hidden; /* Ensures no overflow of the scaled image */
  }

  .card-featured-image {
    transition: transform 0.3s ease-in-out; /* Smooth transition for the transform */
    display: block; /* Ensures that the image scales properly */
    width: 100%; /* Make the image fit the wrapper */
    height: auto; /* Maintain aspect ratio */
  }

  .card-featured-image-wrapper:hover .card-featured-image {
    transform: scale(1.05); /* Scale up the image on hover */
  }
  .banner-image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 20px;
  }
 
    .banner-item:not(:last-child) {
      margin-right: 15px;
  }

   
  .slick-dots li button:before {
      font-size: 12px !important;
  }
    .cus-review-title h2 {
      color: #06063B;
      font-size: 32px;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
      margin: 0;
  }
  .cus-rev-para p {
      font-size: 20px;
      max-width: 65%;
      margin: 0 auto;
      padding: 20px 0px;
      color: #000;
      text-align: center;
  }
  .review-content p {
      font-size: 16px;
      color: #7A7A7A;
      font-style: italic;
      padding: 20px 0px;
      margin: 0px;
  }
  .review-author {
      color: #7A7A7A;
      font-size: 18px;
      font-weight: 600;
  }
    .review-position {
      font-size: 18px;
      color: #6EC1E4;
  }

  @media (max-width: 991px) {
    .slider-item {
      /* Adjust width based on number of mobile columns setting */
      width: 100%; /* This is for single column, adjust if needed */
    }
    .banner-slider-arrow {
      display: none !important;
  }
    ul.sliderr {
      padding: 0px;
  }
  }
@media (max-width: 600px) {
  ul.banner-slider.slick-initialized.slick-slider.slick-dotted {
    padding: 10px !important; 
}
}
</style>

{% schema %}
{
  "name": "Banner Slider",
  "settings": [
  


  ],
  "blocks": [
    {
      "type": "block",
      "name": "review_card",
      "settings": [
        {
          "type": "image_picker",
          "id": "reviewer_image",
          "label": "Reviewer Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider"
    }
  ]
}
{% endschema %}

<div class="banner-main">
 
    <div class="banner-section">
      <button type="button" class="banner-slider-arrow banner-slider-arrow--left">
        <svg class="flickity-button-icon" viewBox="0 0 100 100">
          <path d="M 10,50 L 60,100 L 70,90 L 30,50 L 70,10 L 60,0 Z" class="arrow"></path>
        </svg>
      </button>

      <ul class="banner-slider">
        {% for block in section.blocks %}
        <li class="banner-item">
        
       
          {% if block.settings.reviewer_image %}
            <div class="banner-image-wrapper">
             <img src=" {{ block.settings.reviewer_image | img_url: '1000x' }}" />
            </div>
          {% endif %}
       
        </li>
        {% endfor %}
      </ul>

      <button type="button" class="banner-slider-arrow banner-slider-arrow--right">
        <svg class="flickity-button-icon" viewBox="0 0 100 100">
          <path d="M 10,50 L 60,100 L 70,90 L 30,50 L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
        </svg>
      </button>
    </div>

</div>

<script>
  $(document).ready(function(){
    // Initialize the slick slider for the review cards
    $('.banner-slider').slick({
      dots: true, // Enable navigation dots
      infinite: true, // Enable infinite looping
      speed: 300, // Transition speed in milliseconds
      slidesToShow: 3, // Number of slides to show at once on desktop
      slidesToScroll: 1, // Number of slides to scroll on click on desktop
      prevArrow: $('.banner-slider-arrow--left'), // Custom previous arrow
      nextArrow: $('.banner-slider-arrow--right'), // Custom next arrow
      responsive: [
        {
          breakpoint: 992, // Breakpoint for mobile devices
          settings: {
            slidesToShow: 1, // Show only one slide on mobile
            slidesToScroll: 1 // Scroll one slide at a time on mobile
          }
        }
      ]
    });

    // Click event for navigation dots to jump to a specific slide
    $('.slider-dots button').click(function(){
      var index = $(this).index();
      $('.banner-slider').slick('slickGoTo', index);
    });
  });
</script>
