<div class="our-process">
  <div class="page-width">
    <div class="process-wrapper">
      <div class="process-card">
        <div class="process-number">1</div>
        <div class="process-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/Project-Discovery-phase.webp?v=1715628564" /></div>
        <div class="process-title">Starting Phase</div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check.svg?v=1715629209" /></div>
          <p>Start your project on our website, and you will be assigned to an appropriate consultant within our agency in the United States, accessible through our 'Founder's Dashboard' using your login details.</p>
        </div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check.svg?v=1715629209" /></div>
          <p>You will also gain access to a dedicated customer area within the United States, where you can track order status, upload or provide feedback, and chat with your assigned experts and consultants.</p>
        </div>
      </div>

      <div class="process-card">
        <div class="process-number">2</div>
        <div class="process-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/Project-Review-Session.webp?v=1715628564" /></div>
        <div class="process-title">Discovery Phase</div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check_1.svg?v=1715629208" /></div>
          <p>Our team of consultants and experts, located in the United States, collaborates with you to understand your current situation and objectives.</p>
        </div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check_1.svg?v=1715629208" /></div>
          <p>In this stage, our team of consultants and experts, based in the United States, conducts a virtual session where we will bounce ideas on the best route to take for your goals to be met.</p>
        </div>
      </div>

      <div class="process-card">
        <div class="process-number">3</div>
        <div class="process-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/First-Draft.webp?v=1715628564" /></div>
        <div class="process-title">First Draft Phase</div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check_2.svg?v=1715629208" /></div>
          <p>At this point, we have delivered first draft and would require your feedback</p>
        </div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check_2.svg?v=1715629208" /></div>
          <p>We provide 2 drafts for each project and if you require other additional revisions, you can always inform us</p>
        </div>
      </div>

      <div class="process-card">
        <div class="process-number">4</div>
        <div class="process-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/delivery.webp?v=1715628564" /></div>
        <div class="process-title">Delivery Phase</div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check_3.svg?v=1715629208" /></div>
          <p>We, as a team of consultants and experts in the United States, provide you with a modern and professional deck in terms of copy and visuals, ready to impress and make a lasting impact.</p>
        </div>
        <div class="process-content">
          <div class="content-icon"><img src="https://cdn.shopify.com/s/files/1/0658/4057/8750/files/check_3.svg?v=1715629208" /></div>
          <p>Our agency of consultants, based in the United States, ensures your delivery includes a fully editable version of PPT and a PDF copy of your presentation, granting you all the rights to use it on any medium. If you require a different format, kindly mention it in your order.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .process-number {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    background-color: transparent;
    background-image: linear-gradient(180deg, #F38137 0%, #f2295b 100%);
    border-radius: 80px 80px 80px 80px;
    padding: 0px 10px 0px 10px;
    width: max-content;
    color: #fff;
}
  .process-icon img {
    width: 68px;
    height: 68px;
}
  .process-title {
    color: #08083C;
    font-size: 18px;
    font-weight: 800;
    line-height: 1em;
    letter-spacing: 0px;
    text-align: center;
}
  .content-icon img {
    width: 24px;
    height: 24px;
}
  .process-content p {
    font-size: 12px;
    font-weight: 500;
    color: #000;
    margin: 0;
}
  .process-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
  .process-card {
    max-width: 285px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}
  .process-icon {
    text-align: center;
}
  .process-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
</style>

{% schema %}
  {
    "name": "Our Process",
    "settings": [],
    "presets": [
      {
      "name": "Our Process"
        }
    ]
  }
{% endschema %}