<div class="shopSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-sm-12 shopSectionR">
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/7dfb1ae6042b.jpg?v=1666386098" width="100%">
      </div>
      <div class="col-md-5 col-sm-12 shopSectionL">
        <span
          >WHETHER YOU NEED TO DETOXIFY, BRIGHTEN, OR REPLENISH YOUR SKIN, YESSÉ HAS THE PERFECT COLLECTION FOR YOU.</span
        >
        <h2>Each Yessé collection contains five incredible products to use in your new 4-step ritual.</h2>
        <p>
          Yessé 24K Gold Detoxifying Cream has matt finished that will give your skin the perfect oil control throughout
          the day. You will love your new clean glow!
        </p>
        <p>
          Adding an oily moisturiser on top of already clogged pores is a recipe for disaster. If you have oily skin,
          you may be tempted to skip the moisturising stage to reduce the amount of oil on your face. Dried-out skin can
          lead your oil glands to work overtime, resulting in even more clogged pores.
        </p>
        <p>
          When contrasted to a heavy moisturiser, light moisturisers can keep your skin fresher and less weighed down.
          Instead of a cream, this is a wonderful substitute. Even though it's moisturising, it doesn't feel greasy or
          heavy on the skin, and it also doesn't clog the pores of your skin due to its rapid rate of absorption.
        </p>
        <a class="animated shopnowBTN" href="/collections/all">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "shopSection",
  "settings": [],
  "presets": [
    {
      "name": "shop section",
      "category": "shopSection"
    }
  ]
}
{% endschema %}
