<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="customers-testimonials" class="owl-carousel">
          <div class="item">
            <div class="shadow-effect">
              <img
                class="img-circle"
                src="https://yesseskincareaustralia.com/cdn/shop/files/jpeg-optimizer_Asset_1_product_compact_02ffa5e4-3675-4c67-8979-8a254e848097_compact.png"
                alt=""
              >
              <p>
                This one product (Brightening Dual Serum) I love SO much. The only reason "I can't wait to use it up" is
                because each day it makes my skin brighter, more radiant, fades my red acne marks, suppresses my
                sunspots, and makes my skin look healthier! This will be an item I purchase again and again in the years
                to come. This item is EXCEPTIONAL (the best I've tested thus far) at fading red acne marks and
                inflammatory hyper-pigmentation on Asian skin!
              </p>
            </div>
            <div class="testimonial-name">COCO CHANG</div>
          </div>

          <div class="item">
            <div class="shadow-effect">
              <img
                class="img-circle"
                src="https://yesseskincareaustralia.com/cdn/shop/files/jpeg-optimizer_Asset_1_product_compact_02ffa5e4-3675-4c67-8979-8a254e848097_compact.png"
                alt=""
              >
              <p>
                I have combination and sometimes dehydrated skin due to the long acids use so I enjoy ending my night
                routine with a good Serum to seal the skincare routine. Look at the ingredients list of this Brightening
                Serum!! It's so well formulated, so light and easy to apply, a little goes a long way and lasts for
                months, and if it's used after the Brightening Dual Mist both provide all that skin needs. In the
                mornings when I wake up my skin is always balanced and bright and I enjoy it so much!
              </p>
            </div>
            <div class="testimonial-name">GLORIA SAMS</div>
          </div>

          <div class="item">
            <div class="shadow-effect">
              <img
                class="img-circle"
                src="https://yesseskincareaustralia.com/cdn/shop/files/jpeg-optimizer_Asset_1_product_compact_02ffa5e4-3675-4c67-8979-8a254e848097_compact.png"
                alt=""
              >
              <p>
                Detoxifying Dual Mist. Love, love, love this product! It’s so hydrating without being tacky. Not fond of
                mists and essences/toners that leave my skin tacky can’t stand that and this one doesn’t do that at all.
                It’s sinks in perfectly and leaves skin feeling so hydrated but without that greasy and sticky feeling
                that I personally hate.
              </p>
            </div>
            <div class="testimonial-name">CYNTHIA REE.</div>
          </div>

          <div class="item">
            <div class="shadow-effect">
              <img
                class="img-circle"
                src="https://yesseskincareaustralia.com/cdn/shop/files/jpeg-optimizer_Asset_1_product_compact_02ffa5e4-3675-4c67-8979-8a254e848097_compact.png"
                alt=""
              >
              <p>
                The Detoxifying Dual Serum from Yessé Skincare is easily becoming a favorited serum due to its
                consistency and how glowy my skin gets while being gentle. This has been a welcomed addition especially
                while my skin has been breaking out............Love this serum!! The efficacy and gentleness are the
                power combo I always look for my sensitive skin.
              </p>
            </div>
            <div class="testimonial-name">LAURA REY</div>
          </div>

          <div class="item">
            <div class="shadow-effect">
              <img
                class="img-circle"
                src="https://yesseskincareaustralia.com/cdn/shop/files/jpeg-optimizer_Asset_1_product_compact_02ffa5e4-3675-4c67-8979-8a254e848097_compact.png"
                alt=""
              >
              <p>
                I wan give a sample to try, and I absolutely fell in love with the mist and serum! Both have light,
                clean scent which I love because I can’t stand anything with heavy fragrance, but I also don’t like
                anything that smells plain or medical-ish. So, it’s great to finally found the middle ground and
                incorporate some of these products into my daily skincare routines.
              </p>
            </div>
            <div class="testimonial-name">DIANNE YESS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #sec_pg_sf2 .shadow-effect {
      background: #fff;
      padding: 20px;
      border-radius: 4px;
      text-align: center;
      border:1px solid #ECECEC;
      box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
  }
  #sec_pg_sf2 #customers-testimonials .shadow-effect p {
      font-family: inherit;
      font-size: 17px;
      line-height: 1.5;
      margin: 0 0 17px 0;
      font-weight: 300;
  }
  #sec_pg_sf2 .testimonial-name {
      margin: -17px auto 0;
      display: table;
      width: auto;
      background: #7dcabb;
      padding: 9px 35px;
      border-radius: 12px;
      text-align: center;
      color: #fff;
      box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
  }
  #sec_pg_sf2 #customers-testimonials .item {
      text-align: center;
      padding: 20px;
      margin-bottom:0px;
      opacity: .2;
      -webkit-transform: scale3d(0.8, 0.8, 1);
      transform: scale3d(0.8, 0.8, 1);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  #sec_pg_sf2 #customers-testimonials .owl-item.active.center .item {
      opacity: 1;
      -webkit-transform: scale3d(1.0, 1.0, 1);
      transform: scale3d(1.0, 1.0, 1);
    padding: 0;
  }
  #sec_pg_sf2 .owl-carousel .owl-item img {
      transform-style: preserve-3d;
      max-width: 90px;
      margin: 0 auto 17px;
  }
  #sec_pg_sf2 #customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
  #sec_pg_sf2 #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
              background: #7dcabb;
              transform: translate3d(0px, -50%, 0px) scale(0.7);
          }
  #sec_pg_sf2 #customers-testimonials.owl-carousel .owl-dots{
      display: inline-block;
      width: 100%;
      text-align: center;
  }
  #sec_pg_sf2 #customers-testimonials.owl-carousel .owl-dots .owl-dot{
      display: inline-block;
  }
  #sec_pg_sf2 #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
      background: #7dcabb;
      display: inline-block;
      height: 20px;
      margin: 0 2px 5px;
      transform: translate3d(0px, -50%, 0px) scale(0.3);
      transform-origin: 50% 50% 0;
      transition: all 250ms ease-out 0s;
      width: 20px;
  }
</style>

<script>
  jQuery(document).ready(function ($) {
    'use strict';
    //  TESTIMONIALS CAROUSEL HOOK
    $('#customers-testimonials').owlCarousel({
      loop: true,
      center: true,
      items: 1,
      margin: 0,
      autoplay: true,
      dots: true,
      autoplayTimeout: 2500,
      smartSpeed: 450,
      responsive: {
        0: {
          items: 1,
        },
        768: {
          items: 1,
        },
        1170: {
          items: 2,
        },
      },
    });
  });
</script>
