<div class="video-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 align-self-center">
        <div class="ht-text">
          <h3 class="day-night">How to Use</h3>
          <span class="text-block">➔ WATCH VIDEO</span>
          <p>Always shake well to activate ingredients.</p>
          <p>
            Hold the bottle about 10 cm or 5 inches away from your face, close your eyes and spray 2 to 4 pumps evenly
            onto your face.
          </p>
          <p><strong>WHEN:</strong> Use after cleansing to tone your skin in the morning and night for best results.</p>
          <p>
            <strong>TIP:</strong> Works great over makeup to set your look and throughout the day to neutralize bad
            bacteria keeping skin refresh and hydrated.
          </p>
        </div>
      </div>
      <div class="col-sm-8 align-self-center">
        <div class="embed-responsive embed-responsive-4by3" id="videoVR">
          <!--
            <iframe width="560" height="315" src="https://cdn.shopify.com/videos/c/o/v/b639f67bc3494c10beac658334a8add6.mp4"frameborder="0" autoplay allowfullscreen style="padding:20px;"></iframe>
          -->
          <video autoplay muted loop playsinline preload="metadata">
            <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/b639f67bc3494c10beac658334a8add6.mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "text-video",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
