<div class="section_wty">
  <div class="container">
    <div class="row">
      <div class="wty_div">
        <img
          class="wty_img"
          src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/welcome_yesse.png?v=1679500346"
          alt="Australian brands of skincare"
        >
        <h4>
          WHERE ACTIVE INGREDIENTS AND BOTANICAL EXTRACTS FROM AUSTRALIA ARE CAREFULLY COMBINED IN FORMULAE THAT ARE
          TAILORED TO YOUR SKIN TYPE AND TARGET YOUR PRIMARY SKIN CONCERNS AT THE SAME TIME.
        </h4>
      </div>
      <div class="wty_div_nw">
        <h2 class="titlte-h2">The Yessé Anti-Aging - 4-Step Ritual</h2>
        <h3 class="titlte-h3"><strong>A simple, fast, fun daily routine to take care of your skin.</strong></h3>
        <h3 class="titlte-h3">
          If you want to see the best results, pick a frequency, and stick to it every day. We recommend twice a day –
          once in the morning, and then again before you go to bed at night. The Yessé 4-Step Ritual is definitely the
          answer and once you do it for just 28 days it will be a lifelong habit, a habit you will be so grateful you
          started as you witness your face looking younger and glowing.
        </h3>
      </div>
      <div class="col-md-12 col-sm-12 wty">
        <div class="wtyDiv_area">
          <div class="row wtyDiv wtyDiv1">
            <div class="col-md-9 col-sm-12 wty_2">
              <div class="row">
                <div class="col-md-7 col-sm-12 wty_inr1">
                  <h2>Double Cleanse</h2>
                  <p>
                    Double cleansing ensures that your skin's sebum levels are balanced and also removes the impurities
                    makeup, sunscreen, and oil that clog your pores. Oil-to-foam cleansers, are the game changers that
                    combine the thorough clean of an oil with the refreshing finish of a foam. They start off silky,
                    attracting every last bit of makeup and grime, before morphing into a light foam that rinses off
                    with ease.
                  </p>
                </div>
                <div class="col-md-5 col-sm-12 wty_inr2">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/cleansing-oil-detoxifying_1.jpg?v=1725278117"
                    alt="Skincare free from nasties"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row wtyDiv wtyDiv_ryt wtyDiv2">
            <div class="col-md-9 col-sm-12 wty_2">
              <div class="row">
                <div class="col-md-5 col-sm-12 wty_inr2">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/image_2022_10_21T19_12_22_224Z_1.jpg?v=1666381437"
                    alt="Organic skincare"
                  >
                </div>
                <div class="col-md-7 col-sm-12 wty_inr1">
                  <h2>Prime</h2>
                  <p>
                    Including a mist as a Prep Step in your daily skincare routine allows you a unique experience that
                    you can't get by layering multiple products. The light composition and rapid absorption of our Dual
                    Mists will refresh, hydrate and nourish your skin.
                  </p>
                  <p>
                    <strong>USE:</strong> As a primer, over makeup to set your look, throughout the day to give you a
                    natural glow or as an instant relief from irritated skin.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row wtyDiv wtyDiv3">
            <div class="col-md-9 col-sm-12 wty_2">
              <div class="row">
                <div class="col-md-7 col-sm-12 wty_inr1">
                  <h2>Treat</h2>
                  <p>
                    Yessé Dual Serums are the perfect third step before moisturising. Our Bi-Phase formulations are
                    lighter than conventional creams and oils, allowing the properties of its active ingredients to
                    penetrate and work more effectively on your skin.
                  </p>
                  <p>
                    <strong>USE:</strong> To treat, nourish and lock moisture on your skin or mixed with your favourite
                    foundation for a more natural look.
                  </p>
                </div>
                <div class="col-md-5 col-sm-12 wty_inr2">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/image_2022_10_21T19_23_34_766Z.jpg?v=1666381437"
                    alt="Skincare free from nasties"
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row wtyDiv wtyDiv_ryt wtyDiv4">
            <div class="col-md-9 col-sm-12 wty_2">
              <div class="row">
                <div class="col-md-5 col-sm-12 wty_inr2">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/image_2022_10_21T19_23_41_939Z.jpg?v=1666381437"
                    alt="24K Gold benefits"
                  >
                </div>
                <div class="col-md-7 col-sm-12 wty_inr1">
                  <h2>Moisturise</h2>
                  <p>
                    Yessé 24K Gold Cream is a water-based moisturiser packed with natural active ingredients and infused
                    with Pure Gold. Pick according to your skin type, apply as a Final Step in your skincare ritual and
                    target your specific skin concerns. Our innovative and results-driven formulations are made from the
                    antioxidant and anti-inflammatory properties of Gold combined with powerful extracts and active
                    ingredients.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "welcome to yes",
  "settings": [],
  "presets": [
    {
      "name": "welcome-to-yes",
      "category": "welcome to yes"
    }
  ]
}
{% endschema %}
