<h1 class="blog-title">
  {{ page_title -}}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
</h1>
<p class="blog-p">
  {% if page_description %}{{ page_description | escape }}{% endif %}
</p>
{%- section 'blog-template' -%}
