{% comment %} 
<div class="create-custom-page">
  <div class="container">
    {{ page.content }}
  </div>
</div> 
{% endcomment %}
<style>
  .announcement-bar {
    display: none;
}
  .needsclick.kl-private-reset-css-Xuajs1 {
    display: none;
}
#sec_pg_sf .ingrendiants-con h2 {
    font-size: 21px;
}
  div#cookies-banner {
    display: none !important;
}
  span.jdgm-rev__timestamp {
    display: none;
}
div#transcySwitcherContainer {
    display: none;
}
.jdgm-rev-widg__body {
    text-align: left;
}
/* span.jdgm-rev__timestamp {
    display: none;
} */
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    max-width: 1000px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow-y: scroll;
    height: 85%;
}
.popup h2 {
    color: #8D7535 !important;
    font-family: "dearJoe 6 TRIAL";
    font-size: 36px;
    text-align: center;
  margin: 20px 0;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
/* .popup .content {
  max-height: 30%;
  overflow: visible;
} */
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
/***/
  
div#shopify-section-announcement-bar {
    display: none;
}
  div#shopify-section-header {
    display: none;
}
  div#shopify-section-deal-of-product {
    display: none;
}

div#shopify-section-newslatter-area-2 {
    display: none;
}

div#shopify-section-footer {
    display: none;
}
  .instagram-section {
    display: none;
}
  section.section-2 .row {
    justify-content: space-evenly;
}
</style>

<main id="sec_pg_sf">

<section class="sec_on">
   <div class="container">
     <div class="logo-top text-center">
        <a href="#"><img src="https://yesseskincareaustralia.com/cdn/shop/files/Original_Logo_2_250x.png?v=1681266661"></a>
     </div>
    </div>
</section>

<section class="sec_bnr2">
    <img class="desktop-version" src="https://yesseskincareaustralia.com/cdn/shop/files/Banner_4_2.webp?v=1698703735">
    <img class="mobile-version" src="https://yesseskincareaustralia.com.au/cdn/shop/files/mobile-banner-slider-4.webp?v=1680784569">
</section>

<div class="suppoer-area" id="section-1549184100545">
  <div class="container ">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
        <div class="support-wrap mb-30 support-1">          
          <div class="support-icon">
            <img class="animated" src="//yesseskincareaustralia.com/cdn/shop/files/heart_compact.png?v=1666043280" alt="Natural skincare" loading="lazy">
          </div>
          <div class="support-content">
            <p>Clean &amp; Worry-free Skincare</p>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="support-wrap mb-30 support-1">          
          <div class="support-icon">
            <img class="animated" src="//yesseskincareaustralia.com/cdn/shop/files/sources_compact.png?v=1666043280" alt="Organic skincare" loading="lazy">
          </div>
          <div class="support-content">
            <p>Sustainably &amp; Ethically Sourced</p>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="support-wrap mb-30 support-1">          
          <div class="support-icon">
            <img class="animated" src="//yesseskincareaustralia.com/cdn/shop/files/vegan_compact.png?v=1666043280" alt="Organic skincare" loading="lazy">
          </div>
          <div class="support-content">
            <p>Vegan &amp; Cruelty Free</p>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="support-wrap mb-30 support-1">
          <div class="support-icon">
            <img class="animated" src="//yesseskincareaustralia.com/cdn/shop/files/falg_compact.png?v=1666043280" alt="Australian brands of skincare" loading="lazy">
          </div>
          <div class="support-content">
            <p>Proudly Australian Made</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section-1">
  <div class=" container">
    <div class="row">
      <div class="col-md-6 col-sm-12 align-self-center">
       <div class="img-left">
         <img src="https://yesseskincareaustralia.com.au/cdn/shop/products/YesseProducts-12_1024x1024.jpg?v=1676342149" width="100%">
       </div>
      </div>
       <div class="col-md-6 col-sm-12 align-self-center">
          <div class="content-part">
            <h2 class="title-part">Detoxifying Dual Serum</h2>
             <!-- <h3 class="price-pt"> <strong>$42 USD</strong></h3> -->
            <p>Detoxifying Dual Serum was specifically made to clear, refresh and treat the skin. It works targeting the root cause of oily skin by gently exfoliating the skin while nourishing deeply with a cocktail of vitamins C,D,E, AHA and powerful antioxidants that promote cells turn over.</p>
            <p>Ingredients like Hyaluronic acid and Coenzyme Q10 that boost collagen production whilst maintaining the skin’s natural glow.</p> 
            <div class="both_btn">
             <!-- {% section'featured-single-product' %} -->
             <a class="both_btn btn-red" href="#prod_var">
                 <!-- {% section'featured-single-product' %} -->
                <button class="btn-checkout" type="submit" name="add" data-add-to-cart="">
                  <span data-add-to-cart-text="">REVEAL OFFER</span>
                </button>
            </a> 
             </div>
              
          
          </div>
      </div>      
    </div>
  </div>
</section>

<section class="section-11">
  <div class=" container">
    <div class="row">
      <div class="col-md-6 col-sm-12 align-self-center sec_11_lft">
       <div class="img-left">
         <img src="https://yesseskincareaustralia.com.au/cdn/shop/products/GreenTeaserumwithpicsandarrows_1024x1024.jpg?v=1697486711" width="100%">
       </div>
      </div>
       <div class="col-md-6 col-sm-12 align-self-center sec_11_ryt">
          <div class="content-part">
            <h2 class="title-part">How It Works</h2>
            <p><strong>The green phase:</strong> contains natural nourishing oils derived from Australian botanicals with antibacterial and antioxidant properties such as Caviar lime and Green Tea.</p>
            <p><strong>The orange phase:</strong> is infused with highly effective active ingredients such as Niacinamide, AHA and Hyaluronic acid combined with a selection of botanical extracts.</p>
            <p><strong>Together this results-driven formula will work on your skin to:</strong><br>
              - Repair cellular damage<br>
              - Gently exfoliate your skin to remove impurities that lead to breakouts<br>
              - Reduce inflammation<br>
              - Balance oil production<br>
              - Reduce acne-marks and skin damage</p>
          </div>
      </div>
      </div>
  </div>
</section>

  <section class="yt-video-sec">
    <div class="container">
    <div class="row justify-content-md-center">
      <!-- <div class="col-md-6 col-12">
        <div class="yt-video">
      <iframe width="560" height="500" src="https://www.youtube.com/embed/rJY7g1tFxQA" title="The Anti-Aging Dual Set 💐#antiaging #skincare #skincarefordryskin #tripeptide #hyaluronicacid" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      </div> -->
       <div class="col-md-10 col-sm-12 align-self-center">
              <br>
      <span class="fr-video fr-deletable fr-draggable" contenteditable="false"><video autoplay="" class="fr-draggabled" loop="" muted="" playsinline="" preload="metadata">
          <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/9eb27143ec7f467d8d53fc45761675f0.mp4">
          </video></span>
      </div>
    </div>
  </section>

      
  
<section class="prices-row" id="prod_var">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="prices-sec">

        <div class="pr-top">
         
          <div class="price-text">
            <h3>Buy 1 </h3> 
            {% assign product = all_products['detoxifying-dual-serum'] %}
  {% for variant in product.variants %}          			
   <span class="var-prices">{{ product.variants[0].price | money_without_trailing_zeros }}</span>        			
{% endfor %}
          </div>
       
        </div>
        
         <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/YesseProducts-1.jpg?v=1711491865">
         <!-- <h3 class="pp-price">$42 USD</h3>-->
        <h3 class="save-price"></span></h3>
         <form method="post" action="/cart/add">
          <input name="id" value="43281940709532" type="hidden" />
          <input type="hidden" name="return_to" value="/checkout"/>
          <input class="btn-buy" name="add" value="BUY NOW" type="submit" />
        </form>
        <img class="payment-econ" width="100%" src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/payment-iconn.jpg?v=1710983364">
      </div>
      
    </div>
    <div class="col-md-4 col-12">
      <div class="prices-sec">
        <div class="pr-top">
          
          <div class="price-text">
            <h3>Buy 2  Get 15% off </h3> 
            {% assign product = all_products['detoxifying-dual-serum'] %}
  {% for variant in product.variants %}          			
   <span class="var-prices">{{ product.variants[1].price | money_without_trailing_zeros }}</span>        			
{% endfor %}
          </div>
         
        </div>
         
         <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/detixi-serium-2.jpg?v=1711491865">
        <!-- <h3 class="pp-price">$68 USD</h3>-->
        
        <h3 class="save-price"> <span>SAVE $12 </span></span></h3>
         <form method="post" action="/cart/add">
          <input name="id" value="43281940742300" type="hidden" />
           <input  type="text" value="1" name="quantity" type="hidden">
          <input type="hidden" name="return_to" value="/checkout"/>
          <input class="btn-buy" name="add" value="BUY NOW" type="submit" />
        </form>
        <img class="payment-econ" width="100%" src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/payment-iconn.jpg?v=1710983364">
      </div>
      
    </div>
    <div class="col-md-4 col-12">
      <div class="prices-sec">
       
          <div class="pr-top">
         
          <div class="price-text">
            <h3>Buy 3  Get 20% off </h3> 
            {% assign product = all_products['detoxifying-dual-serum'] %}
  {% for variant in product.variants %}          			
   <span class="var-prices">{{ product.variants[2].price | money_without_trailing_zeros }}</span>        			
{% endfor %}
          </div>
          
        </div>
          <div class="most-popular">
          <p>Most Popular</p>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/detixi-serium-3.jpg?v=1711491865">
        
          <!-- <h3 class="pp-price">$108 USD</h3>
          <h3>Buy 3 Items Get 15% off</h3> -->
         <h3 class="save-price"> <span>SAVE $25 </span></span></h3>
         <form method="post" action="/cart/add">    
          <input name="id" value="43281940775068" type="hidden" />
            <input  type="text" value="1" name="quantity" type="hidden">
          <input type="hidden" name="return_to" value="/checkout"/>
          <input class="btn-buy" name="add" value="BUY NOW" type="submit" />
        </form>
         <img class="payment-econ" width="100%" src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/payment-iconn.jpg?v=1710983364">
      </div>
     
    </div>
  </div>
</div>
  
</section>

<section class="section-11">
  <div class=" container">
    <div class="row">
       <div class="col-md-6 col-sm-12 align-self-center sec_11_ryt">
          <div class="content-part">
            <h2 class="title-part">Our Natural Fragrance</h2>
             <h3 class="price-pt"><strong>Geranium Essential Oil</strong></h3>
            <p>provides a beautiful natural fragrance and has antibacterial properties especially effective when treating acne and itchy skin.</p><br>
            <h2 class="title-part">Free From</h2>
            <p>Parabens, PEGs, Alcohol, Phthalates, Formaldehyde, Petrolatum, Sulphates (SLS, SLES), Silicone, Aluminium, Mineral oils, Synthetic Fragrances, Soap, GMOs.</p>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 align-self-center sec_11_lft">
       <div class="img-left">
         <img src="https://yesseskincareaustralia.com.au/cdn/shop/products/Green-Tea-serum-with-text-and-arrows_1024x1024.jpg?v=1677056137" width="100%">
       </div>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <div class=" container">
    <div class="row">
      <div class="col-md-10 col-sm-12">
         <div class="title-heading text-center">
           <h2>How to Use</h2>
         </div>
      </div>
       <div class="col-md-10 col-sm-12 align-self-center">
          <div class="content-part text-center">
            <!-- <h2 class="title-part">➔ WATCH VIDEO</h2> -->
            <p>Shake well to activate ingredients. Apply 3 to 4 drops into palms, warm between and press evenly onto your face to treat and prime your skin.</p>
            <p><strong>WHEN:</strong> Use after cleansing and tone your skin and before applying moisturiser in the morning and night for best results.</p>
           <p><strong>TIP:</strong> Serums work great when mixed with your favourite foundation for a more natural look. It will leave your skin glowing and radiant!</p>
          </div>
      </div>
            <div class="col-md-8 col-sm-12 align-self-center">
              <br>
      <span class="fr-video fr-deletable fr-draggable" contenteditable="false"><video autoplay="" class="fr-draggabled" loop="" muted="" playsinline="" preload="metadata">
          <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/b639f67bc3494c10beac658334a8add6.mp4">
          </video></span>
      </div>
      
    </div>
  </div>
</section>

<section class="section-quote">
    <div class=" container">
        <blockquote>
          <h2>Detoxifying Dual Serum</h2>
          <p><strong>SUITED TO:</strong> Oily to combination skin.<br>
              <strong>SIZE:</strong> 30ml / 1.1fl.oz</p>
            <a class="both_btn btn-red" href="#prod_var">
                 <!-- {% section'featured-single-product' %} -->
                <button class="btn-checkout" type="submit" name="add" data-add-to-cart="">
                  <span data-add-to-cart-text="">BUY NOW</span>
                </button>
              
            </a>   
          <img class="payment-econ btn-max" width="100%" src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/payment-iconn.jpg?v=1710983364">
        </blockquote>
    </div>
</section>

<section class="section-3">
  <div class=" container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="title-heading text-center">
           <h2>Our Key ingredients</h2>
         </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-3 col-sm-12">
         <div class="ingrendiants-con text-center">
           <h2>Caviar Lime</h2>
           <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/green3.jpg?v=1675968842">
           <p>Australian Native botanical that contains vitamins, minerals and amino acids, its multiple benefits include improvement of exfoliation, tone and elasticity but also reduce hyperpigmentation, dull skin and uneven skin appearance.</p>
         </div>
      </div>
      <div class="col-md-3 col-sm-12">
         <div class="ingrendiants-con text-center">
           <h2>AHA (aka Lactic Acid)</h2>
           <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/green2.jpg?v=1675968842">
           <p>A gentle exfoliant that helps reduce blemishes, acne marks and clogged pores, leading to a clearer and smother skin.</p>
         </div>
      </div>
                <div class="col-md-3 col-sm-12">
         <div class="ingrendiants-con text-center">
           <h2>Niacinamide</h2>
           <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/green1.jpg?v=1675968841">
           <p>protects skin cells from pollutants and UV radiation. Form of vitamin B3 that helps to reduce inflammation and balances oil minimising pore appearance.</p>
         </div>
      </div>
                <div class="col-md-3 col-sm-12">
         <div class="ingrendiants-con text-center">
           <h2>Green Tea</h2>
           <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/green4.jpg?v=1675968842">
           <p>contains antioxidants that help to calm inflamed and irritated skin. This may help minimize acne. Antioxidants also protect your skin from future damage from free radicals.</p>
         </div>
      </div>
    </div>

    <div class="row">
       <div class="col-md-12 btnFIng">
         <div class="full-ingrediants text-center">
           <button class="accordionn" id="full_ingi">Full Ingredients List</button>
           <div class="panel">
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li>Water/Aqua</li>
                  <li>Caprylic/Capric Triglyceride</li>
                  <li>Coco-Caprylate</li>
                  <li>Glycerin</li>
                  <li>Propandiol</li>
                  <li>Camellia Oleifera Seed Oil</li>
                  <li>Isononyl Isononanoate</li>
                  <li>Niacinamide</li>
                  <li>Microcitrus Australasica Fruit Extract</li>
                  <li>Tocopheryl Acetate (Vitamin E)</li>
                  <li>Hydrolyzed Rice Protein</li>
                  <li>Ubiquinone (Q10)</li>
                  <li>Sodium Hyaluronate(Hyaluronic Acid)</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <li>Xanthan Gum</li>
                  <li>Geranium Maculatum Oil (as Natural Fragrance)</li>
                  <li>Lactic Acid (AHA)</li>
                  <li>Caprylyl Glycol</li>
                  <li>Disodium EDTA</li>
                  <li>Phenoxyethanol</li>
                  <li>Dipotassium Hydrogen Phosphate</li>
                  <li>Potassium Dihydrogen Phosphate</li>
                  <li>Sodium Benzoate</li>
                  <li>CI 16035</li>
                  <li>CI 15985</li>
                  <li>CI 61565</li>
                </ul>
              </div>
             </div>
           </div>
          </div>
       </div>
    </div>
  </div>
</section>
{% comment %}
<section class="section-testi">
  <div class="container">
    <h2>Testimonials</h2>
    {% section 'testimonial-landing-pg' %}
  </div>
</section>
{% endcomment %}

<div id="shopify-section-ebf142ed-ee20-4be8-81e8-32e8cc44f1a6" class="shopify-section">
  <div class="skincare-quiz">
     <div class="container">
       <div class="row">
         <div class="col-md-3 col-sm-12 align-self-center">
            <div class="tt-skincare">
              <h3 class="titlte-sec">FIND YOUR FORMULA</h3>
              <h2 class="title-big">Skincare Quiz</h2>
              <p>Start here for personalized product selections to reach your skin goals.</p>            
            </div>
         </div>
         <div class="col-md-6 col-sm-12 align-self-center">
           <div class="analysis-img">
             <img src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/skin_analysisd.png?v=1674587004" width="100%" alt="Skincare packs" loading="lazy">
           </div>
         </div>
         <div class="col-md-3 col-sm-12 align-self-center">
          <ol class="skin-details">
           <li>Complete the Quiz</li>
           <li>Get the best advise for your skin type</li>
           <li>Build your own Skincare Ritual</li>
           </ol> 
         </div>
       </div>
     </div>  
  </div>
  <div class="button-sec" id="home-quiz-btn">
     <div class="button-skin text-center">
      <a class="animated" href="#quiz-wnHEnx" id="lang-en">TAKE QUIZ NOW</a>
     </div>  
  </div>
</div>
<section class="sec_bnr">
  <div class=" container">
    <div id="shopify-section-banner-area-coll" class="shopify-section">
    <div class="banner-area" id="section-banner-area-coll">
      <div class=" container-fluid">
        <div class="  custom-row-2 ">  
               <div class="col-md-12 col-sm-12">
         <div class="title-heading text-center">
           <h2>You May Also Like</h2>
         </div>
      </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner  mb-30">
              <a href="https://yesseskincareaustralia.com/pages/detoxifying-dual-serum-lp">
                <img src="//yesseskincareaustralia.com.au/cdn/shop/files/detoxifying-image_13ca2bb6-db98-46a3-b9a3-3b978fec25fa.jpg?v=1681874229" alt="Natural skincare" loading="lazy">
              </a>
            </div>
          </div>     
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner  mb-30">
              <a href="https://yesseskincareaustralia.com.au/pages/brightening-dual-serum-lp">
                <img src="//yesseskincareaustralia.com.au/cdn/shop/files/brightening-image.jpg?v=1681874507" alt="Fragrance free skincare" loading="lazy">
              </a>
            </div>
          </div>   
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-banner  mb-30">
              <a href="https://yesseskincareaustralia.com/pages/anti-aging-dual-serum-lp">
                <img src="//yesseskincareaustralia.com.au/cdn/shop/files/anti-aging-image.jpg?v=1681874814" alt="Best anti-aging skincare" loading="lazy">
              </a>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <style data-shopify="">#section-banner-area-coll{padding-top: 0px;
        padding-bottom: 20px;}
      @media (min-width: 768px) and (max-width: 991px) {
        #section-banner-area-coll{padding-top: 0px;
          padding-bottom: 20px;}
      }
      @media (max-width: 767px) {
        #section-banner-area-coll{padding-top: 0px;
          padding-bottom: 20px;}
      }</style>
    </div>
  </div>
</section>

<section class="section-quote">
    <div class=" container">
        <blockquote>
          <h2>Detoxifying Dual Serum</h2>
          <p><strong>SUITED TO:</strong> Oily to combination skin.<br>
              <strong>SIZE:</strong> 30ml / 1.1fl.oz</p>
            <a class="both_btn btn-red" href="#prod_var">
                 <!-- {% section'featured-single-product' %} -->
                <button class="btn-checkout" type="submit" name="add" data-add-to-cart="">
                  <span data-add-to-cart-text="">BUY NOW</span>
                </button>
            </a> 
           <img class="payment-econ btn-max" width="100%" src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/payment-iconn.jpg?v=1710983364">
        </blockquote>
    </div>
</section>
  
<div class="insta-part-sec">
   <h2 style ="text-align:center;color: #8d7535;font-family: 'dearJoe 6 TRIAL';margin-top:30px;";">Follow us on <span class="notranslate" style ="text-align:center;color: #8d7535!important;font-family: 'dearJoe 6 TRIAL';margin-top:30px; font-weight:400 !important"> instagram</span></h2>
       <div id="insta-feed"></div>
</div>

  {% comment %}Start automatically added Judge.me widget{% endcomment %}

  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: all_products['detoxifying-dual-serum'] %}
 <div class="judge-me-product">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: all_products['detoxifying-dual-serum'] %}  
 </div>   
{% comment %}End automatically added Judge.me widget{% endcomment %}

<section class="faqs-section">
  <div class=" container">
   <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="title-heading text-center">
           <h2>FAQs</h2>
         </div>
      </div>
    </div>
    {% section 'Faq-a' %}
  </div>
</section>

{% section 'deal-of-product' %}

<section class="new-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="content-footer">
               <img class="logo-footer-new" src="https://yesseskincareaustralia.com/cdn/shop/files/Original_Logo_2_250x.png?v=1681266661">
               <div class="new-ft-menu">
                 <ul>
                   <li><a class="button_lp" href="#popup1">Shipping & Delivery</a></li>
                   <li><a class="button_lp" href="#popup2">Returns & Refund</a></li>
                   <li><a class="button_lp" href="#popup3">Privacy Policy</a></li>
                   <li><a class="button_lp" href="#popup4">Terms of Use</a></li>
                 </ul>
                 
               </div>
            </div>
            </div>
        </div>
      </div>  
</section>
</main>

<div id="popup1" class="overlay_lp">
  <div class="popup">
    <h2>Shipping policy</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
<div class="shopify-policy__body">
  <div class="rte">
    <p><strong>For Australian and New Zealand customers:</strong></p>
    <p>Typically, you should receive your Yessé Australia products within seven business days. If you haven’t received your order by then, please contact us and we’ll help.</p>
    <p><strong>For all other international customers:</strong></p>
    <p>Typically, you should receive your Yessé Australia products within 15 to 20 days. However, due to the current staff shortages in the postal network, international orders may take a little longer.</p>
    <p><strong>Shipping Rates:</strong></p>
    <p><b>Australia &amp; New Zealand:</b></p>
    <ul>
      <li>Complementary delivery over AU$75</li>
      <li>AU$10 for orders under AU$75</li>
    </ul>
    <p><b>International:</b></p>
    <ul>
      <li>Complementary delivery over US$150</li>
      <li>US$20 for orders under US$150</li>
      </ul>
      <p><strong>Please Note:</strong></p>
      <ul>
      <li>Once orders are placed, they are not able to be modified or cancelled.</li>
      <li>Products are usually dispatched within 1 day of receiving an order (and no more than 3 days after receiving an order).</li>
      <li>If you place your order over a weekend or on a public holiday it will be processed and sent out over the following business days (Monday to Friday).</li>
      <li>If you are ordering internationally, your order may be subject to additional tax and duties fees. Unfortunately, at the moment we do not cover tax and duties fees.</li>
    </ul>
  </div>
</div>
    </div>
  </div>
</div>

<div id="popup2" class="overlay_lp">
  <div class="popup">
    <h2>Refund policy</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
<div class="shopify-policy__body">
    <div class="rte">
        <p class="p4"><span class="s1">yesseskincareaustralia.com.au</span></p>
<p class="p4"><span class="s1">yesseskincareaustralia.com</span></p>
<p class="p2">If your order arrives damaged or defective, please request return in My Orders or Contact Us directly for assistance with processing your return. Customers must communicate the fault within 2 days&nbsp;after receiving the products.</p>
<p class="p2"><strong>FOR ALL RETURNS: </strong></p>
<p class="p2">In the unlikely event that you receive products from us that do not fulfil the consumer guarantees, we will accept unopened packaging and we’ll provide you with a refund or exchange based on the following return policy:<br></p>
<p class="p2">1. If we consider that the product is unsafe, does not fit the description or is not fit for its purpose.</p>
<p class="p2">2. If we consider that the product's packaging is damaged but does not affect the safety or use of the product, you can choose to exchange it.</p>
<p class="p2">3. We understand that ‘life happens’ and there are unforeseeable situations where you may need a return or exchange. In these cases, contact our customer service and we’ll do our best to help you.</p>
<p class="p2"><strong>Please Note:</strong></p>
<p class="p5">*You will be responsible for paying shipping fees including, but not limited to, the cost to ship and any shipping materials on additional returns. Because of this, we recommend returning all unwanted items at one time. We will issue a full refund of the cost of the returned product if we consider that your item(s) fail to comply with consumer laws. Request return in My Orders or Contact our Customer Service to initiate the return process within 7 days upon receiving your item(s). The item must be returned in its original condition (if eligible as per the return policy).</p>
<p class="p2">* The item must be in new condition, undamaged and with the original packaging. Original shipping fee &amp; return shipping fee will not be refunded.</p>
<p class="p2">* All Sale items are not returnable or exchangeable. These items will be clearly identified on the site.</p>
<p class="p2">* We reserve the right to refuse the return, if received in an unacceptable condition.</p>
<p class="p2">* We cannot process any products that are returned without our prior knowledge.</p>
<p class="p2">* We are not liable for return item(s) that are lost or damaged, please keep the receipt with tracking information.</p>
<p class="p2">* Yessé&nbsp;Skincare Australia is not liable for any individual reaction to any specific ingredient. Please remember to read our ingredient’s lists carefully and follow the appropriate directions for use. If you have allergies or sensitivity, do not use ingredients that may trigger a reaction. An allergy patch test is highly recommended if you are in doubt because of your history of skin reactions.&nbsp;</p>
<p class="p2"><strong>CHANGE OF MIND RETURNS:</strong></p>
<p class="p2">Unfortunately, due to the nature of our products, Yessé Skincare Australia cannot process any product exchanges or returns if a customer changes&nbsp;his/her mind.&nbsp;Due to hygiene, quality-guarantee and safety reasons, personal care products that have left our warehouse cannot be resold.&nbsp;</p>
<p class="p2"><strong>HOW TO PROCESS A RETURN</strong></p>
<p class="p2">1. Submit a return request in My Orders or Contact Us to Customer Service within 7 days of receiving your order. Please include the reason for return and photographs for verification.</p>
<p class="p2">2. Once we have approved your request, you will be sent a return form which needs to be included with your return. Please send your item(s) using local post within 5 days from receiving the return form.</p>
<p class="p2">3. When we receive the returned package, the item(s) will be inspected to ensure they are in the original condition and have the issues stated in the return request.</p>
<p class="p2">4. Once confirmed, the refund will be credited back to the original payment method within 7-10 days (the processing time depends on your payment method and your bank).</p>
    </div>
  </div>
    </div>
  </div>
</div>

<div id="popup3" class="overlay_lp">
  <div class="popup">
    <h2>Privacy policy</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
<div class="shopify-policy__body">
    <div class="rte">
        <p>We are covered by the Federal Privacy Act and it’s National Privacy Principles (NPPs), which set out standards for the collection, use, disclosure and handling of personal information.</p>
<p>Personal information is essentially information or an opinion about a living individual whose identity is apparent or can reasonably be ascertained from the information or opinion (e.g. a name and address).</p>
<p>Our Privacy Policy applies to any personal information we collect from this website. It does not apply to our employee records.</p>
<p><strong>HOW AND WHY WE COLLECT PERSONAL INFORMATION</strong></p>
<p class="p4"><span class="s1">yesseskincareaustralia.com.au</span></p>
<p class="p4"><span class="s1">yesseskincareaustralia.com</span></p>
<p>collects personal information either directly from advertisers and site visitors (Customers/Members) and the relevant individuals or indirectly from third parties.</p>
<p>We collect personal information to be able to provide our various services. We also use personal information to help to develop and identify products and services that may interest Customers/Members, conduct market or customer satisfaction research, develop, establish and administer alliances and other arrangements with other organisations in relation to the promotion, administration and use of our respective products and services. For more information on our services please contact us.</p>
<p><strong>HOW WE USE AND DISCLOSE PERSONAL INFORMATION</strong></p>
<p>We do not use or disclose personal information for any purpose that is unrelated to our services and that you would not reasonably expect (except with your consent).</p>
<p>We have a duty to maintain the confidentiality of our clients’ affairs, including personal information. Our duty of confidentiality applies except where disclosure of your personal information is with your consent or compelled by law.</p>
<p>We usually disclose personal information to third parties who assist us or are involved in the provision of our services. For example, in arranging and managing your insurance needs we may provide information to insurers, reinsurers, other insurance intermediaries, insurance reference bureaus, our advisers such as loss adjusters, lawyers and accountants, and others involved in the claims handling process. We also provide it to purchasers of our business and related companies. We take reasonable steps to ensure that your personal information is accurate, complete, and up-to-date whenever we collect or use or disclose it.</p>
<p>If the required personal information is not provided, we or any involved third parties may not be able to provide appropriate services.</p>
<p><strong>WHAT WE EXPECT OF YOU AND THIRD PARTIES WE DEAL WITH</strong></p>
<p>When you provide us with personal information about other individuals, we rely on you to have made them aware that you will or may provide their information to us, the purposes we use it for,</p>
<p>the types of third parties we disclose it to and how they can access it (as described in this document). If it is sensitive information we rely on you to have obtained their consent to the above.</p>
<p>If you have not done either of these things, you must tell us before you provide the relevant information. If we give your personal information, you and your representatives must only use it for the purposes agreed to. Where relevant, you must meet the requirements of the National Privacy Principles set out in the Privacy Act 1988, when collecting, using, disclosing and handling personal information on our behalf.</p>
<p>You must also ensure that your agents, employees and contractors meet the above requirements.</p>
<p><strong>SECURITY OF YOUR PERSONAL INFORMATION</strong></p>
<p>We endeavour to protect any personal information that we hold from misuse and loss, and to protect it from unauthorised access, modification and disclosure.</p>
<p>For example – We maintain physical security over our paper and electronic data stores and premises, such as locks and security systems. We also maintain computer and network security; for example, we use firewalls (security measures for the Internet) and other security systems such as user identifiers and passwords to control access to computer systems.</p>
<p><strong>TRANSFER OF INFORMATION OVERSEAS</strong></p>
<p>We may transfer your personal information overseas where it is necessary to provide our service. For example, we sometimes use the internet to collect and process information. In most cases, we only do this with your consent.</p>
<p><strong>OPTING OUT</strong></p>
<p>If we send you any information about services or products, or you do not want us to disclose your personal information to any other organisation (including related bodies corporate, installation contractors, suppliers, delivery drivers, Australia Post) you can opt out by confirming in writing, email or phone.</p>
<p><strong>COLLECTION OF INFORMATION VIA WEB SITE ACTIVITY</strong></p>
<p>For statistical purposes we collect information on web site activity (such as the number of users who visit the web site, the date and time of visits, the number of pages viewed, navigation patterns, what country and systems users have used to access the site and, when entering our web site from another web site, the address of that web site) through the use of ‘cookies’. This information on its own does not identify an individual but it does provide us with statistics that we can use to analyse and improve our web sites.</p>
<p><strong>ONLINE SECURITY</strong></p>
<p>We are committed to keeping secure the personal information you provide to us. We take all reasonable precautions to protect the personal information we hold about you from misuse and loss and from unauthorised access, modification or disclosure.</p>
<p>We have a range of practices and policies in place to provide a robust security environment. We ensure the ongoing adequacy of these measures by regularly reviewing them.</p>
<p>Our online security measures include, but are not limited to:</p>
<ul>
<li>Encrypting data sent from your computer to our systems during internet transactions and customer access codes transmitted across networks.</li>
<li>Employing firewalls, intrusion detection systems and virus scanning tools to protect against unauthorised persons and viruses from entering our systems.</li>
</ul>
<ul></ul>
<p><strong>COOKIES</strong></p>
<p>A ‘cookie’ is a packet of information that allows the server (the computer that houses the web site) to identify and interact more effectively with your computer.</p>
<p>When you use one of our web sites, we send you a cookie that gives you a unique identification number. A different identification number is sent each time you use our web sites. Cookies do not identify individual users, although they do identify a user’s browser type and your Internet Service Provider (ISP).</p>
<p>You can configure your browser to accept all cookies, reject all cookies, or to notify you when a cookie is sent. Please refer to your browser instructions or help screens to learn more about these functions. If you reject all cookies, you may not be able to use our web sites.</p>
<p><strong>HOW TO CONTACT US</strong></p>
<p>If you wish to gain access to your personal information, or you want us to correct or update it, or you have a complaint about a breach of your privacy, or any other query relating to our Privacy Policy, contact our Privacy Officer during Australian Sydney business hours on:</p>
<ul>
<li>
<p><b>Email:</b> hello@yesseskincareaustralia.com</p>
</li>
</ul>
<p>If you have any questions or complaints we will respond to your query or complaint as soon as possible and will try to resolve any complaint within 14 working days. If this is not possible, we will contact you within that time to let you know how long we estimate that it will take to resolve your complaint. Any unresolved complaints should be referred to the Privacy Commissioner.</p>
    </div>
  </div>
    </div>
  </div>
</div>

<div id="popup4" class="overlay_lp">
  <div class="popup">
    <h2>Terms of service</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
<div class="shopify-policy__body">
    <div class="rte">
        <p>This website is made available for the benefit of its Customers, Agents, Suppliers, Advisors, Guests and Associates.</p>
<p><strong>1. Acceptance of terms</strong></p>
<p>By using Yessé’s online and offline products and services (collectively, "the Service" or “Services”), provided by yesseskincareaustralia.com.au, (collectively, " Yessé," "We" or "Us") you agree to be bound by the following Terms of Use ("TOU"), together with our Privacy Policy. The TOU may be updated by us from time to time without notice. You can review the most current version of the TOU at any time at:</p>
<p>yesseskincareaustralia.com/terms<br>yesseskincareaustralia.com.au/terms or on this page.</p>
<p>This TOU governs your access to and use this website, any order you place through the Yessé website, by any means, and, as applicable, your use or attempted use, of any of YESSÉ Skincare Australia products and services (collectively, “Your Use”).</p>
<p>Your Use of the Website shall be deemed to constitute your consent to be bound by this Agreement and shall be enforceable in the same way as if you had signed this Agreement.</p>
<p><strong>IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS OF USE, PLEASE DO NOT USE THE WEBSITE, DO NOT ORDER, DO NOT SUBSCRIBE, AND DO NOT PURCHASE ANY YESSÉ PRODUCTS OR ANY SERVICES OFFERED.</strong></p>
<p><strong>2. About this website</strong></p>
<p>This website is owned and operated by <b>YESSÉ Skincare Australia- ABN 31 662 430 476</b> (hereinafter referred to as Yessé) and includes all web pages under or forming part of the domain name https://yesseskincareaustralia.com.au/ and https://yesseskincareaustralia.com.</p>
<p>Your use of the services, information, text, graphics, materials and other content on any part of the Yessé Skincare Australia Website (‘Material on this Website’) is governed by these Terms of Use and the associated Privacy Policy. By using this website you agree to be bound by these Terms of Use. If you do not agree with any of the Terms and Use contained herein do not use this website.</p>
<p>In addition to the Terms of Use contained in this document, other terms of use or conditions may apply to your use of this Yessé Website, parts of this Website or to products and services offered via this Website. You agree to be bound by these additional terms, as applicable.</p>
<p>You may not access the Service for purposes of monitoring its performance, availability, or functionality, or for any other benchmarking or competitive purposes, without Yessé’s prior written consent. You may not access the Service if you are a direct competitor of Yessé, except with Yessé’s prior written consent.</p>
<p><strong>Privacy</strong></p>
<p>Your privacy and security is very important to our Company. Certain data items are collected and used by Yessé Website in order to provide insurance quotations and other online services. The Yessé Website will record and track the use you make of this website. The use of this data is subject to our Privacy Policy. Please read our Privacy Policy in full.</p>
<p><strong>3. Terms of Use</strong></p>
<p>By using this website you agree to the terms of use set out within the website herein. This includes our legal disclaimer, privacy policy and other terms and conditions contained within the website. A copy of these terms are displayed on Yessé website at all times and by using the website you accept these terms as they apply. This disclaimer is not altered by or limited by other terms and conditions on this website. If you do not agree with the terms and conditions contained on this website do not use the website. Use of this website constitutes your agreement with the terms and conditions, contained herein.</p>
<p><strong>4. Liability arising from the use of the Yessé Website</strong></p>
<p>Yessé is not liable or responsible for damages arising from your use of this website, including such as may arise from transmission of your information to us via our website or our communication of information to you, at your request over the internet.</p>
<p>Customer will be solely responsible for any damage sustained to its devices, networks, information systems or other platforms or for the loss of information or any damage resulting from use of the e Yessé Platform or Products, including in the event that the Services or products were defective in any way. Should you receive a product from our company then you agree to advise us of such defect within seven days from the date of purchase. If we request that the product be returned to Yessé, then you agree to do this with fourteen days from the date of purchase.</p>
<p><strong>5. Website information accuracy</strong></p>
<p>The information within this website is provided for the benefit of customers and visitors and Yessé endeavours to provide the best possible information for its customers, agents and suppliers, however, the information contained within the website is accurate at the time of publishing and may not continue to remain accurate with the passage of time. No warranty of any kind is given except as may be required under statute. Yessé does not warrant the accuracy, completeness or adequacy of information contained in this website and disclaims liability for any errors or omissions.<br></p>
<p><strong>6. Links provided on this Website</strong></p>
<p>Links to other websites are provided for your convenience and Yessé is not responsible for the information contained on those websites. The provision of a link to another website does not constitute an endorsement or approval of that website, or any products or services offered on that website, and Yessé will not accept any liability for the use of those links to connect to websites that are not under our control.</p>
<p><strong>7. Intellectual Property Rights</strong></p>
<p>All Logos, trademarks, phrases and graphics used in the website, or linked to by the website, may also be trademarks or the intellectual property of Yessé, and any third parties. The display of these items on this website does not imply that any third party has been granted the use of that intellectual property and all content of the website is protected by copyright law. Website visitors may use the content of the website for their own purposes but not republish or distribute that content for any other purposes.</p>
<p>Yessé holds the copyright to this website. Yessé grants you a limited licence to download this website for personal use only. You are not permitted to reproduce or alter this website, or any copy of it, for any other purpose without the prior expressed written consent of Yessé.</p>
<p><strong>8. Modifications</strong></p>
<p>Yessé reserves the right to make changes, modifications, additions, deletions and corrections to the website, at any time and without notice.</p>
<p><strong>9. Your Account</strong></p>
<p>In consideration of your use of the website, you represent and warrant that (i) you are not barred from receiving services under the laws of Australia or any other applicable jurisdiction, (ii) your use of the Service does not violate any applicable law or regulation, and (iii) you access the Service through one or more humans. Accounts registered by "bots" or other automated methods are not permitted. You also agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Service's registration form (‘Registration Data’); and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or Yessé has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Yessé has the right to suspend or terminate your account and refuse any and all current or future use of the website (or any portion thereof).</p>
<p>Registration Data and certain other information about you is subject to our Privacy Policy which is incorporated by reference herein in its entirety. For more information, see our full privacy policy at https://yesseskincareaustralia.com.au/privacy/ and https://yesseskincareaustralia.com/privacy/. You understand that through your use of this Website you consent to the collection and use (as set out in the Privacy Policy) of this information.</p>
<p>You will receive a password and account designation upon completing the Website's registration process. You are responsible for maintaining the confidentiality of the password and account and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify Yessé of any unauthorised use of your password or account or any other breach of security; and (b) ensure that you exit from your account at the end of each session. Yessé cannot and will not be liable for any loss or damage arising from your failure to comply with these Terms of Use, including, without limitation, this section.</p>
<p><strong>10. Billing</strong></p>
<p>In connection with your purchase and/or use of the Service you may be subject to taxes, including, without limitation, sales and use taxes, by any authority which has jurisdiction to impose such taxes. You agree that the obligation and payment of any such taxes shall be your sole and absolute responsibility, and you agree, that unless otherwise required by applicable law, to indemnify Yessé pursuant to the section below entitled “Indemnity” to the extent that Yessé incurs any obligations or other liabilities in connection with such taxes.</p>
<p><strong>11. Content</strong></p>
<p>“Content” means any and all information, data, code, video, images, text, documents or other materials of any type that you upload, post, email, transmit, submit or otherwise make available to or through the Service, regardless of whether it is publicly posted or privately transmitted. All Content is the sole responsibility of the person from whom such Content originated. This means that you, and not Yessé, are entirely responsible for all Content that you upload, post, email, transmit, submit or otherwise make available via this Website. Yessé does not control the Content posted via the Service and does not have access to such Content (except account-related information or unless authorised by you). As such, Yessé does not and cannot guarantee or endorse the accuracy, integrity or quality of such Content. You understand that by using the Service, you may be exposed to Content that is offensive, indecent, objectionable or illegal in your jurisdiction. Under no circumstances will Yessé be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any content uploaded, posted, emailed, transmitted, submitted or otherwise made available via the Service.</p>
<p>You agree to <strong>not</strong> use the Service to:</p>
<p><strong>a.</strong> upload, post, email, transmit, submit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libellous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable, under any applicable laws;</p>
<p><strong>b.</strong> harm minors in any way;</p>
<p><strong>c.</strong> impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;<br><strong>d.</strong> disguise the origin of any Content transmitted through the Service;</p>
<p><strong>e.</strong> upload, post, email, transmit or otherwise make available any Content that you do not have</p>
<p>a right to make available under any applicable law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</p>
<p><strong>f.</strong> upload, post, email, transmit or otherwise make available any Content that infringes any rights of any other party, including, without limitation, patent, trademark, trade secret, copyright or other proprietary rights;</p>
<p><strong>g.</strong> upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail", "spam", or any other form of solicitation;</p>
<p><strong>h.</strong> upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</p>
<p><strong>i.</strong> act in a manner that negatively affects other users' ability to use the Service;</p>
<p><strong>j.</strong> interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;</p>
<p><strong>k.</strong> intentionally or unintentionally violate any applicable local, state, national or international law;</p>
<p>You acknowledge that Yessé does not pre-screen Content, and that Yessé and its designees shall have the right (but not the obligation) in their sole discretion to pre-screen, refuse, move or remove any Content that is available via the Service. Without limiting the foregoing, Yessé and its designees shall have the right to remove any Content that violates the TOU or is otherwise objectionable or illegal as determined in Yessé sole discretion. In no event shall Yessé or its designees have any liability or obligation to you in connection with exercising any rights contained in this section. You agree that you must evaluate, and bear all risks associated with, the use of any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge that you may not rely on any Content created by Yessé or submitted to Yessé.</p>
<p>You acknowledge, consent and agree that Yessé may access, preserve and disclose your account information and Content if required to do so by any applicable law or in a good faith belief that such access preservation or disclosure is reasonably necessary to: (a) comply with any applicable legal process; (b) enforce the TOU; (c) respond to claims that any Content violates the rights of third parties; (d) respond to your requests for customer service; or (e) protect the rights, property or personal safety of Yessé, its users and the public. If we receive a subpoena which requests disclosure of information contained in your account you agree that we may disclose any such requested information contained in the account regardless of whether such information is deemed to be owned or held in the name of (i) the Business User, or (ii) the name of Individual Users. For the sake of clarity, (i) if the subpoena is issued in the name of the Business User, we may disclose information regarding both the Business User and the Individual User(s), and (ii) if the subpoena is issued in the name of Individual User(s) we may disclose information regarding both the Business User and the Individual Users(s).</p>
<p>You understand that the technical processing and transmission of the Service, including your Content, may involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</p>
<p>You may not attempt to override or circumvent any of the usage rules embedded into the Service. Any unauthorized reproduction, publication, further distribution or public exhibition of the materials provided on the Service, in whole or in part, is strictly prohibited.</p>
<p>You will retain all right, title and interest in and to your Content and Yessé shall not claim ownership of your Content; provided, however, with respect to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant Yessé the following worldwide, royalty-free and non-exclusive license(s): the perpetual, irrevocable and fully sublicenseable license to collect, use, copy, store, transmit, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed.</p>
<p><strong>12. Indemnity</strong></p>
<p>Except and to the extent required by applicable law, You (specifically including the Business User and Individual User(s)) agree to indemnify and hold Yessé and its parent, subsidiaries, affiliates, officers, directors, stockholders, agents, attorneys, employees, partners, licensors and other representatives harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of, or in connection with, (i) your Content, (ii) your use or access of the Service,</p>
<p>(iii) your connection to the Service, (iv) your violation of the TOU or applicable law, (v) your violation of any rights of another, and (vi) any taxes arising in connection with your purchase or use of the Service in any jurisdiction, domestic or otherwise, including, without limitation, sales and use tax.</p>
<p><strong>13. No resale of Service or Products</strong></p>
<p>You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of the Service or its Products, use of the Service, or access to the Service unless you otherwise have an agreement with us which specifically grants you such right(s).</p>
<p><strong>14. Modifications to Service</strong></p>
<p>Yessé reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service or Products (or any part thereof) with or without notice. You agree that Yessé shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service or Products.</p>
<p><strong>15. Termination and Cancellation</strong></p>
<p>You agree that Yessé may without prior notice immediately terminate your Yessé account and access to the Service or Products (both as a Business User and/or Individual User(s)). Such termination may be made in the Yessé’s sole and absolute discretion with or without cause. For illustrative purposes only, the situations in which Yessé may terminate your account and access to the Service or Products shall include, but not be limited to: (a) breaches or violations of the TOU or other incorporated agreements or guidelines; (b) requests by law enforcement or other government agencies; (c) a request by you (self-initiated account deletions): (d) discontinuance or material modification to the Service (or any part thereof): (e) unexpected technical or security issues or problems; (f) extended</p>
<p>periods of inactivity; (g) engagement by you in fraudulent or illegal activities; and/or (h) non-payment of any fees owed by you in connection with the Service. Further, you agree that all terminations for cause shall be made in Yessé sole and absolute discretion and that Yessé shall not be liable to you or any third party for any termination of your account, or access to the Service.</p>
<p><strong>16. Yessé Dispute Facility</strong></p>
<p>If you are not completely satisfied with the services or products provided by Yessé, please contact us by emailing is here: hello@yesseskincareaustralia.com and we will be happy to assist with any concerns you may have.</p>
    </div>
  </div>
    </div>
  </div>
</div>

<script>
var acc = document.getElementsByClassName("accordionn");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
