{%- section 'wellcome-area' -%}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <img
        src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/forest_australia.png?v=1668502363"
        width="100%"
        alt="Skincare made in Australia"
      >
    </div>
    <div class="prod-desc col-lg-6 col-md-6 rytCont">
      <span
        >Our story began more than three years ago, when we decided that we were done forever with harsh chemicals and
        mysterious substances in our beauty products.</span
      >
      <p>
        We simply wanted to have a clean, fresh, beautiful look – without sacrificing our ethics and our commitment to a
        better and more sustainable world.
      </p>
      <p>
        Thus, we began a long journey of dedicated research. We dived in head-first to the world of nature, botanicals,
        and other elements that could deliver what we were looking for. We studied beauty regimens from around the
        world, from the state-of-the-art treatments to the simple traditions handed down from mother to daughter for
        generations.
      </p>
      <p>
        There was a lot of reading, a lot of trial and error, and even some tears. But eventually, we realised an
        important truth: it’s not necessarily what goes INTO a beauty product that matters the most; it’s also EQUALLY
        important what you DON’T include in a formulation that truly makes all the difference.
      </p>
    </div>
  </div>
  <div class="row col_reverse">
    <div class="prod-desc col-md-6 col-lg-6 lftCont">
      <span
        >We understand that you are concerned about the products you use on your skin and the sources of those products.</span
      >
      <p>That’s how it came to be that all Yessé skincare products are free from:</p>
      <p>
        Parabens, Alcohol, Phthalates, Formaldehyde, Petrolatum, Sulphates (SLS, SLES), Silicone, Aluminium, Mineral
        oils, Synthetic Fragrances, Soap, GMOs.
      </p>
      <p>
        So, what’s in our products? Australian botanical extracts, and Active Ingredients carefully balance our formulas
        specially made for your skin-type and targeting your main concerns simultaneously. Because of their countless
        benefits all of our products without exception contain Hyaluronic acid.
      </p>
    </div>
    <div class="col-md-6 col-lg-6">
      <img
        src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/Yesenia-Girlsdsd.jpg?v=1675205524"
        width="100%"
        alt="Natural skincare"
      >
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <img
        src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/kakadu-plum1.jpg?v=1668829465"
        width="100%"
        alt="Organic skincare"
      >
    </div>
    <div class="prod-desc col-md-6 col-lg-6 rytCont">
      <span
        >We manufacture our products at our Australian plant ensuring that they are pure, natural, and simple to use.</span
      >
      <p>
        Just like us Australians, they are easy to work with and dependable when it comes to sticking to their promises.
      </p>
      <p>
        We are a group of skilled professionals working on what we love. For us, being Australian means using products
        that have a significant impact on how your skin feels, just like super foods that are beneficial to your skin,
        and Australian native botanicals that have been used for centuries. Yessé has put a lot of work into developing
        a product that has the power to nourish and revitalise your skin
      </p>
    </div>
  </div>
  <div class="row col_reverse">
    <div class="prod-desc col-md-6 col-lg-6 lftCont">
      <p>
        It is often difficult to find products that are made with safe and effective ingredients. Yessé is making it
        easier for you to take care of your skin and finally be confident using a worry-free skincare line.
      </p>
      <span>Give Yessé Skincare a try and see what happens, we know you will love the results!</span>
      <div class="slider-btn btn-hover"><a class="animated shopnowBTN" href="/collections/all">SHOP NOW</a></div>
    </div>
    <div class="col-md-6 col-lg-6">
      <img
        src="https://cdn.shopify.com/s/files/1/0555/6148/6492/files/Yesenia-Girls11.jpg?v=1670522778"
        width="100%"
        alt="Fragrance free skincare"
      >
    </div>
  </div>
</div>
