{% section 'product-template' %}

{% section 'single-product-tab' %}
{% comment %}
  {% section 'text-video' %}
{% endcomment %}
{% section 'video-text' %}

{% section 'product-image-section' %}
{% section 'rich-text' %}
{% section 'rich-text-ourmission' %}
{% comment %}{% section 'our-mission' %}{% endcomment %}
<section id="threeColoumn">{{ product.metafields['Three-Column']['three-column'] }}</section>

{% section 'related-product' %}
{% comment %}{% section 'ingredients' %} {% endcomment %}
{% comment %}Start automatically added Judge.me widget{% endcomment %}
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}
{% section 'instagram-feed' %}
{% render 'esc-nbis' %}
